<h1>Projects</h1>

<ul id="projects">
<% @projects.each do |project| %>
  <li class="project">
    <%= link_to project.name, project %>
  </li>
<% end %>
<% if can?(:create, Project) %>
  <li class="project new">
    <%= link_to 'New Project', new_project_path %>
  </li>
<% end %>
</ul>
