<li class="<%= feature.class.name.downcase %>" data-path="<%= feature.relative_path %>">
  <%= feature.name %>
  <%= feature.is_a?(Category) ? render_features(feature.features) : render_scenarios(feature.scenarios) %>
</li>
