<%= content_tag :li,
                :class => "collapsed #{scenario_class(scenario)}",
                'data-line' => scenario.line,
                'data-tags' => scenario_tags(scenario) do %>
  <span class="caption"><%= scenario.name %></span>
  <%= render_steps(scenario.steps) %>
<% end %>
