<li>
  <span class="scenario-step-term"><%= step.term %></span> <%= colorize_step(step.text) %>
<% if step.table %>
  <%= render :partial => "partials/table", :object => step.table %>
<% end %>
<% if step.heredoc %>
  <pre class="step-heredoc"><%= step.heredoc %></pre>
<% end %>
</li>
