<% if @selected_scenario -%>
<h3><%= @selected_scenario.name %></h3>
<div class="scenario-steps">
  <h4>Steps to Test</h4>
  <ul>
    <%= render :partial => "step", :collection => @selected_scenario.steps %>
    <% if @selected_scenario.examples -%>
    <li>
      <span class="scenario-step-term">Examples:</span>
      <%= render :partial => "partials/table", :object => @selected_scenario.examples %>
    </li>
    <% end -%>
  </ul>
</div>
<div class="scenario-tags">
  <% @selected_scenario.tags.each do |tag| %>
    <%= render_tag(tag) %>
  <% end %>
</div>
<% end -%>
