@import "partials/definitions";



.project-statistics {
  @include tsatsiki-font;
  
  position: relative;
  top: 2px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  
  &.extras { display: none; }
  
  li {
    display: inline-block;
    text-align: right;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-weight: normal;
    
    a {
      width: 70px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    
    span {
      display: block;
      
      &.project-statistic-count {
        font-size: 2em;
        line-height: 0.85em;
      }
    }
  }
}


#run_examples { display: none; }

#feature_filter {
  font-size: 1em;
  width: 496px;
  margin: 6px 0 0 0;
}

#features {
  border: $control-border;
  padding: $control-padding;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 16px;
  top: 92px;
  bottom: 48px;
}

#controls {
  position: absolute;
  bottom: 16px;
  height: 24px;
}

#feature_list {
  display: none;
  margin: 0;
  padding: 0;
}

.tree {
  margin: 0;
  padding: 0;
  
  > li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 1px 0 1px $tree-indent;
    margin: 0;
    > .caption { cursor: pointer; }
  }
  
  > li.collapsed {
    background-position: 1px 5px;
    > ul { display: none; }
    > .caption {
      background-color: transparent;
      color: #999; }
  }
}

.feature > .caption {
  display: inline-block;
  border-radius: 2px;
  background-color: #656565;
  color: white;
}

.feature > .caption,
a.feature-new-scenario {
  padding: 2px 4px;
  line-height: 1.15em;
  font-weight: bold;
  font-size: 0.75em;
}

.scenarios {
  margin: 3px 0 0 0;
  padding: 0;
}

.scenario {
  list-style: none;
  margin: 0;
  padding: 1px 0 1px 0;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  
  .icon {
    margin-left: 4px;
    position: relative;
    top: 2px;
  }
}

.feature {
  &.test-running   > .caption { opacity: 0.25; }
  &.test-passed    > .caption { background-color: $test-passed-color; }
  &.test-failed    > .caption { background-color: $test-failed-color; }
  &.test-undefined > .caption { background-color: $test-undefined-color; }
}

.scenario {
  &.test-running   .scenario-steps-link { opacity: 0.25; }
  &.test-passed    .scenario-steps-link { color: $test-passed-color; }
  &.test-failed    .scenario-steps-link { color: $test-failed-color; }
  &.test-undefined .scenario-steps-link { color: $test-undefined-color; }
}

.tree .scenario {
  padding-left: $tree-indent;
}


a.feature-new-scenario.on {
  background-color: $accent-color;
  color: white;
}

.new-feature-placeholder {
  background-color: $accent-color;
  color: white;
  
  margin: 1px 0 1px 16px;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 6px 2px 4px;
  line-height: 1em;
}

#run_examples, #examples_running_message {
  font-size: 1em;
  padding: 4px 8px;
  line-height: 1.25em;
  width: 108px;
  text-align: center;
  
  @include border-radius(2px);
}

#run_examples {
  background-color: $toggle-link-background;
  
  // Reset
  height: auto;
  border: none;
  cursor: pointer;
  margin: 0;
  @include global-font;
  
  &:hover { background-color: $toggle-link-highlight;};
}

#examples_running_message {
  display: none;
  color: white;
  background-color: $orange;
  width: 90px;
}

#reset_tests { 
  display: none;
}

.filtered-by-tag { display: none; }
.filtered-by-text { display: none; }
