.split-screen {
  overflow: hidden;
  
  .left {
    float: left;
    width: 500px;
  }
  .right {
    margin-left:516px;
  }
}

#features {
  border: 1px solid #ccc;
//  background-color: #efefef;
  margin-bottom: 2em;
  padding: 6px 8px;
}

a.scenario-steps-link {
  &.natural {
    background-color: transparent;
//    line-height: 1em;
//  border-width: 0 0 1px 0;
//  border-style: dotted;
//  padding-bottom: 0;
    
    &:hover {
      color: #446088;
      border-color: #446088;
    }
  }
  
  &.selected {
    background-color: #446088 !important;
    color: white              !important;
//  border-style: none        !important;
//  padding-bottom: 1px       !important;
  }
}

.tree {
  margin: 0;
  padding: 0;
  
  > li {
    list-style: none;
    background-image: url('/assets/tree-expanded.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding: 1px 0 1px 16px;
    margin: 0;
    font-size: 1.15em;
    color: #777;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
  }
  
  > li.collapsed {
    background-image: url('/assets/tree-collapsed.png');
    > ul { display: none; }
  }
}

.feature > .caption {
  display: inline-block;
  border-radius: 2px;
  background-color: #d4d4d4;
  color: black;
  padding: .5px 4px;
}

.scenarios {
  margin: 0;
  padding: 0;
}

.scenario {
  list-style: none;
  margin: 0;
  padding: 1px 0 1px 16px;
  
  &.unknown   .scenario-steps-link { color:#ccc;    border-color:#ccc;}
  &.passed    .scenario-steps-link { color:green;   border-color:green; }
  &.failed    .scenario-steps-link { color:red;     border-color:red; }
  &.undefined .scenario-steps-link { color:#D8D000; border-color:#D8D000; }
}

.scenario-steps {
  background-color: #eee;
  padding: 6px 8px;
  
  h4 {
    color: auto;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    color: #555;
    
    > li { list-style: none; }
  }
}
