@import "partials/definitions";



body {
  background-color: #fff;
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.25em;
  @include global-font
}

th { text-align: left; }

h1, h2, h3, h4 {
  @include tsatsiki-font;
  font-weight: normal;
  line-height: 100%;
  margin: 0.5em 0;
}

h1 { font-size: 2.5em; }
h2 {}
h3 { font-size: 1.33em; margin: 1em 0; color: black; } // #48a33c; /*#656565;*/ }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a[href] {
  color: #000;
  background-color: $link-background;
  @include border-radius(2px);
  display: inline-block;
  padding: 2px 6px 2px 4px;
  line-height: 1em;
  text-decoration: none;
  
  &:hover { background-color: $link-highlight; }
}

a[href^="mailto"] { 
  padding: 0;
  display: inline;
  background: transparent;
  text-decoration: underline;
//  color: $cucumber-skin;
}

a.toggle {
  background-color: $toggle-link-background;
  &:hover { background-color: $toggle-link-highlight; }
  &.selected { background-color: $toggle-link-selected; }
}

a.natural,
a.breadcrumb {
  background-color: transparent;
  &:hover { background-color: transparent; }
}

a.breadcrumb {
  padding: 0;
  display: inline;
}

textarea {
  border: $control-border;
  padding: $control-padding;
}

input[type="text"],
input[type="password"],
input[type="email"] { border: $control-border; }


// Devise forms, and Edit/New project forms look like this
dl.form {
  dd {
    margin: 0 0 1em 0;
    
    input { font-size:1.5em; }
  }
}


// These labels are for screen-readers and Capybara
label.hidden {
  display: inline-block;
  width: 0;
  padding: 0;
  margin: 0;
  text-indent: -9999em;
}



.flash {
  margin: 12px 36px;
  padding: 6px 18px;
  background-color: #ffa;
  font-weight: bold;
  text-align: center;
  @include border-radius(2px);
}



#ajax_loader { display: hidden; }



.page-context {
  position: absolute;
  padding: 8px;
  bottom: 8px;
}

.breadcrumbs { 
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 2.25em;
  text-shadow: 1px 1px 2px #707070;
  margin-right: 0.75em;
}
.breadcrumb.current  { font-weight: bold; }

.tabs {
  display: inline-block;
  margin: 0;
  padding: 0;
  
  position: relative;
  top: -4px;
  
  a {
    background-color: #4b4b4b;
    box-shadow: inset 1px 1px 1px #444;
    font-size:1.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    text-shadow: 0px 1px 3px #555;
    
    &:hover {
      background-color: rgba(221, 238, 206, 0.5);
      box-shadow: none;
      text-shadow: none;
    }
    &.selected {
      background-color: rgba(190, 235, 139, 0.85);
      box-shadow: none;
      text-shadow: none;
    }
  }
}

h2.logo {
  position: absolute;
  right: 16px;
  top: 5px;
  margin: 0;
  padding: 0;
}

.split-screen {
  .left {
    position: fixed;
    left: 16px;
    top: 85px;
    bottom: 0;
    width: 500px;
    padding: 1em 16px 0 0;
    border-right: 3px solid #d0d0d0;
  }
  .right {
    padding-top: 1em;
    margin-left: 516px;
    padding-left: 16px;
  }
}
