@import "partials/definitions";

body {
  background-color: #fff;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.25em;
  
  &#interior {
    padding: 82px 16px 16px 16px;
  }
}

th { text-align: left; }

h1, h2, h3, h4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  line-height: 100%;
  margin: 0.5em 0;
}

h1 { font-size: 2.5em; }
h2 {}
h3 { font-size: 1.33em; margin: 1em 0; color: black; } // #48a33c; /*#656565;*/ }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  background-color: $link-background;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 6px 2px 4px;
  line-height: 1em;
  text-decoration: none;
  
  &:hover { background-color: $link-highlight; }
}

a.toggle {
  background-color: $toggle-link-background;
  &:hover { background-color: $toggle-link-highlight; }
  &.selected { background-color: $toggle-link-selected; }
}

a.natural,
a.breadcrumb {
  background-color: transparent;
  &:hover { background-color: transparent; }
}

a.breadcrumb {
  padding: 0;
  display: inline;
}

.field, .actions {
  margin-bottom: 10px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 700px;
}

#ajax_loader {
  display: hidden;
}

.banner {
  border-top: 6px solid #333;
  border-bottom: 1px solid $bottom-border;
  
  border-bottom: 1px solid #333;
  box-shadow: 0 0 7px #888;
  font-family: 'PT Sans';
  
  @include gradient-background(#777, #555, #666);
}

#interior .banner {
  padding: 4px 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}

#home .banner {
  padding: 1em;
  margin-bottom: 1em;
}

.authentication {
  position: absolute;
  border: 1px solid #555;
  border-top-color: #333;
  right: 1em;
  padding: 2px 8px 4px 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #888;
  
  a { background-color: #888; }
  a:hover { background-color: $link-highlight; }
}

#home .authentication { top: 159px; }
#interior .authentication { top: 78px; }

.page-context {
  position: absolute;
  padding: 8px;
  bottom: 8px;
}

.breadcrumbs { 
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 2.25em;
  text-shadow: 1px 1px 2px #707070;
  margin-right: 0.75em;
}
.breadcrumb.current  { font-weight: bold; }

.tabs {
  display: inline-block;
  margin: 0;
  padding: 0;
  
  position: relative;
  top: -4px;
  
  a {
    background-color: #4b4b4b;
    box-shadow: inset 1px 1px 1px #444;
    font-size:1.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    text-shadow: 0px 1px 3px #555;
    
    &:hover {
      background-color: rgba(221, 238, 206, 0.5);
      box-shadow: none;
      text-shadow: none;
    }
    &.selected {
      background-color: rgba(190, 235, 139, 0.85);
      box-shadow: none;
      text-shadow: none;
    }
  }
}

h2.logo {
  position: absolute;
  right: 16px;
  top: 5px;
  margin: 0;
  padding: 0;
}

.split-screen {
  .left {
    position: fixed;
    left: 16px;
    top: 85px;
    bottom: 0;
    width: 500px;
    padding: 1em 16px 0 0;
    border-right: 3px solid #d0d0d0;
  }
  .right {
    padding-top: 1em;
    margin-left: 516px;
    padding-left: 16px;
  }
}
